 @import url(./__list/places__list.css);
 .places {
     max-width: calc(100% - 100px*2);
     max-width: 984px;
     margin: 0 auto;
     align-items: center;
 }
 
 @media screen and (min-width: 1024px) {
     .places {
         width: calc(100% - 48px*2);
     }
 }
 
 @media screen and (min-width: 768px) and ( max-width: 1023px) {
     .places {
         width: calc(100% - 24px*2);
     }
 }
 

 @media screen and (max-width: 320px) {
    .places {
        width: 100%;
    }
}