.place__image {
    grid-area: image;
    margin: 0;
    padding: 0;
    object-fit: contain;
    max-width: 460px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        width: 340px;
    }
}

@media screen and (max-width: 766px) {
    .place__image {
        width: 100vw;
        align-self: center;
    }
}