.lead__title {
    width: calc(100% - 132px*2);
    height: 200px;
    font-size: 96px;
    line-height: 1.04;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    width: calc(100% - 104px*2);
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 320px) {
    .lead__title {
      width: calc(100% - 16px*2);
      height: 88px;
      font-size: 40px;
      line-height: 1.1;
    }
  }
