@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-headding/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__image/place__image.css);
@import url(./__description/place__description.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraph_size_small/place__paragraph_size_small.css);
.place {
    display: grid;
    max-width: 984px;
    margin-top: 80px;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (min-width: 541px) {
    .place {
        grid-template-columns: repeat(1fr, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "title url" "image text";
        margin-top: 73px;
    }
}

@media screen and (max-width: 540px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "title" "image" "text";
        margin-top: 49px;
    }
}