.place__website {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: url;
    margin-bottom: 48px;
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .place__website {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 540px) {
    .place__website {
        display: none;
    }
}